<div class="bodyContainer">
    <div>
        <nav class="navbar navbar-expand-sm  justify-content-between">
            <h2>
                Design Tasks
            </h2>
            <ul class="navbar-nav navLinks">
                <li>
                    <a class="nav-link">
                        <img class="rounded-circle" height="30" width="30"
                            src="https://cdn4.iconfinder.com/data/icons/176-material-design-outline-core/24/filter-512.png" />
                    </a>
                </li>
                <li>
                    <a class="nav-link">
                        <button class="btn btn-primary"><img src="../.././../assets/images/plus.png" height="20"
                                width="20" (click)="addTask('blank')" /> ADD TASK</button>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li class="textTransform  blankLi">
                        Backlog
                    </li>
                    <li class=" blankLi" *ngFor=" let items of backlogTasks;index as i;" (click)="cardClick(items)">
                        <app-backlog [backlogTasks]="items">
                        </app-backlog>
                    </li>
                    <li>
                        <a class="text-muted" (click)="addTask('backLog')">
                            <img class=" rounded-circle" src="../.././../assets/images/addmore.jpg"
                                title="Add another Card" height="25" width="25" /> &nbsp;
                            Add another card
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li class="textTransform  blankLi">
                        ToDo
                    </li>
                    <li class=" blankLi" *ngFor=" let items of todoTasks;index as i;" (click)="cardClick(items)">
                        <app-todo [todoTasks]="items"></app-todo>
                    </li>
                    <li>
                        <a class="text-muted" (click)="addTask('todo')">
                            <img class=" rounded-circle" src="../.././../assets/images/addmore.jpg"
                                title="Add another Card" height="25" width="25" /> &nbsp; Add
                            another card
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li class="textTransform  blankLi">
                        in progress
                    </li>
                    <li class=" blankLi" *ngFor=" let items of inProgressTasks;index as i;" (click)="cardClick(items)">
                        <app-inprogress [inProgressTasks]="items"></app-inprogress>
                    </li>
                    <li>
                        <a class="text-muted" (click)="addTask('inProgress')">
                            <img class=" rounded-circle" src="../.././../assets/images/addmore.jpg"
                                title="Add another Card" height="25" width="25" />
                            &nbsp; Add another card
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li class="textTransform  blankLi">
                        done
                    </li>
                    <li class=" blankLi" *ngFor=" let items of doneTasks;index as i;" (click)="cardClick(items)">
                        <app-done [doneTasks]="items">
                        </app-done>
                    </li>
                    <li>
                        <a class="text-muted" (click)="addTask('done')">
                            <img class=" rounded-circle" src="../.././../assets/images/addmore.jpg"
                                title="Add another Card" height="25" width="25" /> &nbsp; Add
                            another card
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>