.modal-dialog {
    max-width: 500px !important;
    border-radius: 15px !important;
    margin-top: 1px !important;
     margin-bottom: 1px !important;
     padding : 3px;
}
ul{
    list-style-type: none !important;
}
img{
    margin: 3px;
    padding : 2px;
}

.modal-header {
    border : 0px !important;
}

.modal-content {
    border-radius: 1.3rem !important;
}

.justify-content-between {
    justify-content: space-between!important;
}
h5{
    font-weight: bolder;
    text-shadow: lightgray;
}
button{
    width: 80px;
}
.btn-primary.disabled {
    cursor: auto;
}
input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
textarea{
    border : 1px solid whitesmoke;
    border-radius: 15px;
    max-width: 390px;
    width: 400px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px 1px lightgrey;
}

.row{
    margin : 3px;
    padding : 2px;
}