<div class="card" style="width: 15rem;">
    <nav class="navbar navbar-expand-sm  justify-content-between">
        <span class="colorMe" [style.border-color]="colorCode">
        </span>
        <ul class="navbar-nav navLinks">
            <li>
                <a class="nav-link">
                    <img src="../.././../assets/images/dots.png" height="20" width="20" />
                </a>
            </li>
        </ul>
    </nav>
    <div class="card-body">
        <h6 class="card-title"> {{Description}}</h6>
       <input type="text" value="due date" *ngIf="dueDate" [(ngModel)]="dueDate" class="text-muted card-TextBox" readonly />
    </div>
    <nav class=" navbar navbar-expand-sm justify-content-between">
        <span class="text-muted">
            {{Count}} Comments
        </span>

        <ul class="navbar-nav navLinks" *ngIf="UsersCommented">
            <li *ngFor="let items of UsersCommented">
                <a class="nav-link">
                    <img class="rounded-circle" [src]="items.userAvatar" height="20" width="20" />
                </a>
            </li>
        </ul>
    </nav>
</div>