<div>
    <ul class="nav flex-column">
        <li class="nav-item ">
            <h3 class="nav-link text-muted">Design Team</h3>
        </li>
        <li class="nav-item">
            <a class="nav-link active">Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Material</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Marketing</a>
        </li>
        <li>

        </li>
        <li class="nav-item">
            <h3 class="nav-link text-muted">Personal</h3>
        </li>
        <li class="nav-item">
            <a class="nav-link">Task1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Task2</a>
        </li>
    </ul>
</div>